esphome:
  name: esphome-web-83161f
  friendly_name: ESPHome Menjador
  min_version: 2024.11.0
  name_add_mac_suffix: false

esp8266:
  board: esp01_1m

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

uart:
  tx_pin: GPIO1
  rx_pin: GPIO3
  baud_rate: 9600

sensor:
  - platform: mhz19
    co2:
      name: CO₂
      device_class: "carbon_dioxide"
      state_class: "measurement"
      accuracy_decimals: 0
    temperature:
      name: Temperatura
      device_class: "temperature"
      state_class: "measurement"
      accuracy_decimals: 1
    automatic_baseline_calibration: False
    update_interval: 60s
    id: mhz19_menjador

switch:
  - platform: template
    name: "Calibració automàtica CO₂"
    optimistic: true
    on_turn_on:
      mhz19.abc_enable: mhz19_menjador
    on_turn_off:
      mhz19.abc_disable: mhz19_menjador

button:
  - platform: template
    name: "Calibrar CO₂ a zero"
    on_press:
      then:
        - mhz19.calibrate_zero: mhz19_menjador
